.opening {
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  width: 20vw;
  height: 20vw;
  opacity: 1;
  }

.port-title a{
  color: white;
}

.port-title a:hover{
  text-decoration: none;
  opacity: 0.5;

}

.overlay {
  opacity: 0;
  background-color: black;
  width: 20vw;
  height: 20vw;
}

.overlay:hover{
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  background-color: rgba(0,0,0,0.4);
  text-decoration: none;
}

.img-p {
  padding: 1rem;
}

.button a{
  color:black;
}
.button a:hover{
  opacity: 0.5;
}

@media screen and (max-width: 768px){
  .opening{
    width: auto;
    height: 30vw;
  }

  .overlay{
    width: auto;
    height: 30vw;
  }

  .img-p {
    padding: 0.25rem;
  }

  .port-title a{
    font-size: 0.85rem;
  }

}


/* links */
.link-sns {
  border-radius: 33px;
  width: 152px;
  height: 152px;
  background-size: 152px;
}